body, html{
height:100%;
margin:0; 
color:#666;
text-align:center;

}

.first{
    background-image:url(pic1.jpg);
    height:100%;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;

}
.second{
    background-image:url(p2.jpg);
    height:100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
}
.third{
    background-image:url(p3.jpg);
    height:100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.heading{
    position:absolute;
    color:#fff;
    font-size: 300%;
    width:100%;
    padding:0 4%;
    
}
/* .two-col{
    float:left;
    width:42%;
    text-align:left;
} */
.section{
    overflow:auto;
    padding:50px 80px;
    background-color: #323232;
    color: #f2f2f2;
}
.dark{
    overflow:auto;
    padding:50px 80px;
    background-color: #323232;
    color: #f2f2f2;
} 
.heading{
    position:absolute;
    font-size: 550%;
    top:38%;
    width:100%;
    
}

 @media(max-width:7068px){
.heading{
    font-size:250%;
}
} 
